.DS_Store
.AppleDouble
.LSOverride

# Icon 
Icon


# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop

.apdisk

#Xcode-specific
*.xcodeproj/project.xcworkspace/xcuserdata/
*.xcodeproj/xcuserdata/
*/*.xcodeproj/xcuserdata/
*.xcworkspace/xcuserdata/


